html, body {
	margin: 0 auto;
	background-color: #e0e0e0;
	color: white;
}

#header {
	text-align: center;
	width: 100%;
	font-size: 30px;
	font-family: Helvetica;
	color: #e0e0e0;
	background-color: #b2182b
}
/* Top Navigation Bar */
#topnav {
	width: 100%;
	height: 50px;
	background-color: #e0e0e0;
	border: 1px solid #e0e0e0;
	padding: 5px;
	text-align: center;
}
#topnav li {
	width: 100%;
	display: inline;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	padding: 10px 10px;
	color: black;
}

#row {
	display: flex;
	background: #e0e0e0
}

h1 {
	font-family: Arial;
	font-size: 20px
}

h2 {
	font-family: Arial;
	font-size: 16px
}

p {
	font-family: Garamond;
	font-size: 16px
}

/* Left Navigation Bar */
#leftnav {
	float: left;
	width: 200px;

	border: 2px solid #999999;
	color: black;
	text-align: center;
	vertical-align: middle;
	background-color: #999999;
	padding: 1%;
}
#leftnav p {
	font-size: 14px;
	text-align: center;
	padding: .5px;
	color: black;
}

/* Main Container */
#main {
	width: calc(100% - 200px);
	padding: .5px;
}

#main iframe {
	height: 80%;
	width: 1250px;

}


/* Footer */
#footer {
	text-align: center;
	padding: 1px;
}
#footer li {
	display: inline;
	text-align: center;
	color: black;
	padding: 10px 10px;
}
