* {
    box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow:hidden;
}

#borderContainer {
	width: 100%;
	height: 100%;
        }

#affected {
	width: 100%;
	height: 100%;
}

#centerMap {
	margin: 5px;
	position: relative;
	overflow: hidden;
	top: 10px;
	left:10px ;
	width: 450px;
	height: 450px;
	text-align: center;
	border: 2px solid;
}

#sliderBox {
    height: 50px;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 200px;
    height: 20px;

    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* slider  */

.slidecontainer {
    width: 10%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
