html,
    body,
    #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }

    #draw-polygon {
	height: 100px;
	width: 100px;
	font-family: verdana;
	background-color: white;
	position: absolute;
	bottom: 25px;
	left:0px;
}

    #optionsDiv {
			background-color: dimgray;
			color: white;
			padding: 10px;
			width: 350px;
		}

		.esri-popup .esri-popup-header .esri-title {
			font-size: 18px;
			font-weight: bolder;
		}

		.esri-popup .esri-popup-body .esri-popup-content {
			font-size: 14px;

		}

    #footer {
    	text-alignment: center;
    }
